.font-family-title{
    font-family:sans-serif;
}
.font-family-paragraph{
    font-family: serif;
    font-weight:lighter;
}
.button-inizia-header:hover{
    background-color:rgb(41, 41, 114);
}
.button-partner:hover{
    background-color: lightgray;
}