*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.navbar{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    position: fixed;
    width: 100%;
    z-index:999;
    background-color: white;
}
.col-left-header{
    gap:2px;
}
.padding-left-navbar{
    padding-left:10px;
    
}
.button-inizia-header{
    width: 70px;
    border: none;
    margin-left:10px;
}
.bg-color-blu{
    background-color: #0061FF;
    color: white;
    padding: 5px;
}
.section-header{
    padding:60px;
    width: 100%;
    height: 680px;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}
.bg-color-ciano{
    background-color: #B4D0E7;
}
.txt-center{
    text-align: center;
}
.container{
    max-width: 1440px;
    min-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    padding: 1em 3em;
}
.txt-size{
    font-size: 95px;
}
.d-flex{
    display: flex;
}
.col-left{
    width: 40%;
    text-align: left;
}
.col-right{
    width: 70%;
}
.size-img-client{
    width: 100%; 
}
.free-trial{
    width: 210px;
    padding:10px;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left:0;
}
.stop-sub{
    margin-bottom: 25px;
}
.arrow-down{
    font-size: 40px;
}
.section-main{
    margin-top: 60px;
    width: 100%;
    min-width:810px;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}
.container-main{
    max-width: 1200px;
    min-width: 500px;
    min-height: 1120px;
    margin: 0 auto;
    padding: 1em 3em;
    margin-top:160px;
}
.radio-button{
    margin-top: 60px;
    margin-bottom: 20px;
}
.d-flex-main{
    
    display: flex;
    gap:110px;
}
.title-col{
    font-size: 16px;
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom:40px;
}
.col-tariff-plan{
    width: calc(100% / 3);
    border: 1px solid lightgray;
    height: 920px;
    gap:5px;
}
.contain-col{
    height: 96%;
    padding: 10px;
}
.font-weight{
    font-weight: bold;
}
.font-size{
    font-size: 15px;
}
.font-size-max{
    font-size: 18px;
}
.font-size-min{
    font-size: 10px;
}
.font-size-business{
    font-size: 40px;
}
.margin-top{
    margin-top: 15px;
}
.margin-bottom{
    margin-bottom: 15px;
}
.margin-bottom-plus{
    margin-bottom: 40px;
}
.margin-left{
    margin-left: 20px;
}
.border-bottom{
    border: 1px solid lightgray;
    width: 50px;
}
.padding{
    padding: 20px;
}
.padding-top-col4{
    padding-top: 45px;
}
.second-section-main{
    min-height: 400px;
    margin-top: 60px;
}
.container-second-main{
    max-width: 1078px;
    min-width: 500px;
    min-height: 290px;
    margin: 0 auto;
    padding: 1em 0em;
    margin-top: 100px;
    border: 1px solid lightgray;
}
.title-second-section{
    font-size: 16px;
    border-bottom: 1px solid lightgray;
}
.third-section-main{
    min-height: 685px;
    margin-top: 60px;
}
.container-third-main{
    max-width: 1078px;
    min-width: 500px;
    min-height: 290px;
    margin: 0 auto;
    padding: 1em 0em;
    margin-top: 100px;
}
.col-left-3{
    padding: 5px;;
    min-width: 60%;
}
.col-right-3{
    padding: 38px;
    min-width: 40%;
}
.width-img{
    width: 100%;
}
.button-partner{
    background-color: white;
    padding: 10px;
    font-size: 14px;
}
.fourth-section-main{
    min-height: 685px;
    margin-top: 40px;
}
.container-fourth-main{
    max-width: 1078px;
    min-width: 500px;
    min-height: 770px;
    margin: 0 auto;
    padding: 1em 0em;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px
}
.col-4{
    height: 550px;
    width: calc(33.3% - 15px);
    flex-grow: 1;
}
.fifth-section-main{
    margin-top: 60px;
    min-height: 300px;
}
.container-fifth-main{
    max-width: 1078px;
    min-width: 500px;
    min-height: 290px;
    margin: 0 auto;
    padding: 1em 0em;
    margin-top: 100px;
    display: flex;
}
.col-full{
    width: 70%;
}
.sixth-section-main{
    margin-top: 60px;
    min-height: 400px;
}
.container-sixth-main{
    min-width: 500px;
    min-height: 290px;
    margin: 0 auto;
    padding: 0em 0em;
    margin-top: 100px;
    display: flex;
}
.square{
    width: calc(100% / 3);
    flex-wrap: wrap;
}
.square-center{
    padding: 64px;
}
.img-square{
    padding: 20px;
    max-width: 317px;
    min-width: 317px;
    min-height: 317px;
    background-color: #0061FF;
    align-items: center;
}
.img-size{
    width: 300px;
}
.bg-green{
    background-color: rgb(113, 167, 113);
}
.bg-red{
    background-color: red;
}
.bg-blu{
    background-color: #3881f7;
}
.bg-purple{
    background-color: rgb(71, 0, 0);
}
.bg-lightgray{
    background-color: #F5F5F5;
}
.seventh-section-main{
    min-height: 400px;
    background-color: #B4D0E7;
}
.container-seventh-main{
    max-width: 1078px;
    min-width: 500px;
    min-height: 290px;
    margin: 0 auto;
    padding: 1em 0em;
    display: flex;
    align-items: center;
}
.col-business{
    padding: 40px;
    flex-grow: 2;
    color: rgb(71, 0, 0);
}
.col-button{
    flex-grow: 1;
}
.button-partner{
    border: none;
}
.eigth-section-main{
    min-height: 400px;
    background-color: white;
}
.container-eigth-main{
    max-width: 1078px;
    min-width: 500px;
    min-height: 650px;
    margin: 0 auto;
    padding: 5em 0em;
    margin-top: 30px;
}
.border-question{
    width: 100%;
}
.question{
    justify-content: space-between;
}
.section-footer{
    min-height: 400px;
    background-color: black;
}
.container-footer{
    max-width: 1400px;
    min-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    padding: 5em 2em;
    margin-top: 45px;
}
.col-footer{
    padding: 20px;
    flex-grow: 1;
    width: calc(100% / 6);
    color: white;
}
.container-footer-language{
    max-width: 1400px;
    min-width: 470px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0em 2em;
}
.border-bottom-footer{
    border: 1px soldi white;
    width: 100px;
}
.color-white{
    color: white;
}